<ion-header>
  <ion-toolbar color='primary'>
    <ion-title text-center>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class='color'>
  <img class="icon" src="assets/icon/reddit.svg" alt="">
<ion-item>
  <ion-label position='floating' >E-mail</ion-label>
  <ion-input type='text' name='email' [(ngModel)]='email' ></ion-input> 
</ion-item>
<ion-item>
  <ion-label position='floating'>Contraseña</ion-label>
  <ion-input type='password' name='contraseña' [(ngModel)]='password'></ion-input> 
</ion-item>
<br>
<ion-button expand='block' (click)='onSubmitLogin()'>Entrar</ion-button>
<ion-button expand='block' (click)="onLimpiar()">Limpiar</ion-button>
</ion-content>
